// About

.about {
  #page {
    background: $purple;

    // Highlights table
    .highlights {
      .date {
        color: $black;
        white-space: nowrap;
      }
      a {
        transition: color .2s ease-out;
        &:hover, &:focus {
          color: $black;
        }
      }
    }
  }
}