// Homepage

.index {
  .section-title {
    .last-word {
      position: relative;
      sup { 
        top: 0;
        left: 100%;
        position: absolute;
      }
    }
    h2 { 
      br {
        display: none;
        @include min-screen($breakpoint-small) {
          display: inline-block;
        }
      }
    }
  }

  // Sidebar opening
  @include min-screen($breakpoint-medium) {
    .site-header {
      &.sidebar-open {
        padding-right: 325px;
      }
      &.project-nav-open {
        padding-right: 50%;
      }
    }

    #page {
      transition: margin .2s ease-out;
      &.project-nav-open {
        margin-right: 50%;
      }
      &.sidebar-open {
        margin-right: 300px;

        // Change project ratio when open
        .projects {
          .project {
            // padding-bottom: 50%;
          }
        }
      }
    }
  }
}