// Interior Pages

// when clicking on Contact, focus that area
body.focus-contact {
  #page {
    opacity: .1;
  }
}
#page {
  transition: opacity .5s;
}

body.single.page {
  .interior {
    padding: ($padding * 6) 25px;
    @include min-screen($breakpoint-medium) {
      padding: ($padding * 12) 25px ($padding * 12) 25px;
    }

    .section-title {
      padding: 0;
      text-align: left;
    }

    .intro {
      margin-bottom: ($padding * 3);
      @include min-screen($breakpoint-medium) {
        padding-right: $padding * 12;
        padding-left: (($padding * 12) - 25);
      }

      .-inner {
        max-width: 400px;
      }
      p {
        line-height: 1.375em;
        letter-spacing: .025em;
        margin-top: ($padding * 2);
        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    .secondary {
      .secondary-item {
        margin-top: ($padding * 3);
        h1, h2, h3 {
          color: $black;
          margin: 0 0 .6em;
          @include title();
          @include smooth();
          position: relative;
          padding-bottom: .5em;
          &:after {
            left: 0;
            bottom: 0;
            content: '';
            height: 1px;
            width: .25em;
            position: absolute;
            background: $black-fade;
          }
        }

        ul {
          li {
            color: $black-fade;
            @include small-caps();
          }
        }

        table {
          text-align: left;
          td {
            color: $black-fade;
            vertical-align: top;
            @include small-caps();
            padding: 0 ($padding * 2) 0 0;
          }
        }

        @include min-screen($breakpoint-medium) {
          &.-first {
            margin-top: 0;
          }
        }

        @include min-screen($breakpoint-large) {
          &:first-of-type {
            margin-top: 0;
          }
        }
      }

      @include min-screen($breakpoint-medium) {
        padding-top: 16px;
      }

      @include max-screen($breakpoint-large) {
        .one-half {
          width: 100%;
          float: none;
        }
      }
    }
  }
}