// About

#people-page {
  #page {
    background: $yellow;
  }

  .interior {
    padding: 0;
  }

  .person {
    display: flex;
    flex-wrap: wrap;
    &:nth-of-type(even) {
      @include min-screen($breakpoint-large) {
        .bio {
          order: 1;
        }
        .portrait {
          order: 0;
        }
      }
    }
    .bio {
      order: 1;
      flex-basis: 100%;
      padding: ($padding * 3) 25px;
      header {
        padding-bottom: ($padding * 2);
      }
      h1 {
        font-size: 36px;
        margin-bottom: ($padding * 2);
      }
      .links {
        @include small-caps();
        a {
          color: $black-fade;
          transition: color .2s ease-out;
          &:hover, &:focus, &:active {
            color: $black;
          }
        }
      }
      p {
        margin-top: $padding;
        line-height: 1.375em;
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
    .portrait {
      order: 0;
      padding: 0;
      width: 100%;
      height: 400px;
      max-height: 50vh;
      flex-basis: 100%;
      background-size: cover;
      background-position: center center;
    }

    // Specific people edits
    &.will-miller, &.shannon-medic-young {
      .portrait {
        background-position: top center;
      }
    }

    @include min-screen($breakpoint-small) {
      .bio {
        padding: ($padding * 6);
        header {
          padding-bottom: ($padding * 4);
        }
        h1 {
          font-size: 48px;
          margin-bottom: ($padding * 4);
        }
      }
    }

    @include min-screen($breakpoint-large) {
      .bio {
        order: 0;
        flex-basis: 50%;
        padding: ($padding * 12);
      }
      .portrait {
        order: 1;
        height: auto;
        flex-basis: 50%;
        max-height: none;
      }
    }
  }
}