// Thoughts page

.news-posts {
  .news-article {
    &:first-of-type {
      hr {
        display: none;
      }
    }
  }
}

.news-article {
  background: $gray;
  padding-bottom: ($padding * 6);
  @include min-screen($breakpoint-medium) {
    padding-bottom: ($padding * 12);
  }

  .article-divider {
    width: 100%;
    height: 1px;
    border: none;
    margin: 0 auto;
    max-width: 600px;
    background: $black-fade;
  }

  .featured-image {
    height: 400px;
    max-height: 50vh;
    background-size: cover;
    background-position: center center;
  }
  .featured-image-caption {
    margin: 0 auto;
    max-width: 650px;
    color: $black-fade;
    @extend %small-caps;
    padding: $padding 25px;
  }

  .section-title {
    z-index: 1;
    position: relative;
    padding-bottom: ($padding * 6);
    h1 {
      font-size: 32px;
      margin-bottom: 0;
      @include min-screen($breakpoint-small) {
        font-size: 48px;
      }
      a {
        position: relative;
        text-shadow: .04em 0 $gray, .03em 0 $gray, .02em 0 $gray, -.02em 0 $gray, -.03em 0 $gray, -.04em 0 $gray;
        &:hover {
          &:after {
            opacity: 1;
          }
          text-decoration: none;
        }
        &:after {
          left: 0;
          opacity: 0;
          z-index: -1;
          content: '';
          height: 1px;
          width: 100%;
          bottom: .1em;
          position: absolute;
          background: $black;
          transition: opacity .2s ease-out;
        }
      }
    }
    h3.date {
      color: $black-fade;
      @extend %small-caps;
    }
  }

  .summary {
    &.user-content {
      padding-left: 25px;
      padding-right: 25px;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0 auto;
      max-width: 600px;
      text-align: center;
    }
    > p {
      font-size: 16px;
      max-width: 600px;
      line-height: 1.375em;
      margin: ($padding * 2) auto 0;
      &:first-of-type {
        margin-top: 0;
      }
    }
    blockquote {
      margin: ($padding * 6) auto;
    }
  }

  .post-meta {
    padding: 0 25px;
    max-width: 850px;
    text-align: center;
    @extend %clearfix;
    margin: ($padding * 5) auto 0;
    > div {
      text-align: left;
      display: inline-block;
    }
    h3 {
      float: left;
      color: $black;
      @extend %small-caps;
    }
    ul {
      float: left;
      li {
        margin-left: -3px; // fixing white-space from li
        color: $black-fade;
        display: inline-block;
        @extend %small-caps;
        &:first-of-type {
          margin-left: .25em;
          .comma {
            display: none;
          }
        }
      }
    }
  }
}