<div class="secondary one-half -right user-content">
  <div class="secondary-item">
    <header>
      <h1>Highlights</h1>
    </header>
    <div class="summary highlights">
      <% if !@highlights.blank? %>
        <table>
          <tbody>
            <% for highlight in @highlights %>
              <tr>
                <td class="date"><%= highlight.date.strftime("%b %y") %></td>
                <td><%=raw highlight.highlight %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>