<div class="secondary one-half -right user-content">
  <div class="secondary-item">
    <header>
      <h1>Highlights</h1>
    </header>
    <div class="summary highlights">
      <%= raw @page.content_for :side_body -%>
    </div>
  </div>
</div>