<div class="secondary one-half -right grid">
  <div class="one-half -left">
    <div class="secondary-item column -first">
      <header>
        <h1>Interdisciplinary <br>Capabilities</h1>
      </header>
      <ul>
        <li>Brand</li>
        <li>Print</li>
        <li>Digital</li>
        <li>Motion</li>
        <li>Experience</li>
      </ul>
    </div>
    <div class="secondary-item column">
      <header class="divider">
        <h1>Services</h1>
      </header>
      <ul>
        <li>Brand Strategy</li>
        <li>Community Development</li>
        <li>Digital Experience</li>
        <li>Social Design</li>
      </ul>
    </div>
  </div>
  <div class="one-half -right">
    <div class="secondary-item column last">
      <header class="divider">
        <h1>Proven <br>Industries</h1>
      </header>
      <ul>
        <li>Art + Design</li>
        <li>Education</li>
        <li>Financial + Investment</li>
        <li>Health + Wellness</li>
        <li>Media + Entertainment</li>
        <li>Professional Services</li>
        <li>Public Sector</li>
        <li>Real Estate + Development</li>
        <li>Retail + Consumer</li>
      </ul>
    </div>
  </div>
</div>
