<div class="intro">
  <h2 class="section-header">Get in Touch</h2>
  <hgroup class="section-title divider">
    <h1>General Inquiries</h1>
  </hgroup>
  <div class="summary">
    <p>Drop us a line with any questions regarding how we might be able to help, collaborate or participate.</p>
    <p><%= mail_to 'info@firebellydesign.com' %></p>
  </div>
</div>