// Common styles

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

%fade-links {
  a {
    color: $black-fade;
    transition: color .2s ease-out;
    &:hover, &:focus {
      color: $black;
    }
  }
}
