// Typographer

$font-display: "RomanaBT-Bold", serif;
$font-body: "Karla", Helvetica, Arial, sans-serif;

@mixin small-caps {
  letter-spacing: .25em;
  text-transform: uppercase;
  font: 12px/1.833333333em $font-body;
}

@mixin title {
  font: 24px/1.375em $font-display;
}