// Variables

// Colors
$blue-dark: #013568; 
$blue-med: #6d7b90;
$pink: #ee4d9b;
$gray: #E2E2E2;
$gray-light: #C2C3C5;
$black: #231F20;
$black-fade: rgba(35,31,32,.4);
$white: #fff;
$peach: #FFDBD4;
$yellow: #FFE8C2;
$green: #D2F1DB;
$blue: #E1E8FF;
$purple: #EDE4FF;

$page-colors: (
  "gray": $gray,
  "peach": $peach,
  "yellow": $yellow,
  "green": $green,
  "blue": $blue,
  "purple": $purple
);

// Padding increment
$padding: 11px;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1200px;
$breakpoint-huge: 1400px;