<div id="newsletter-form">
    <div class="summary">
    <form id="email-form" action="http://firebellydesign.createsend.com/t/y/s/kdjlth/" method="post">
      <fieldset>
        <label for="kdjlth-kdjlth" class="visually-hidden">Email:</label>
        <input class="required email" type="text" name="cm-kdjlth-kdjlth" id="kdjlth-kdjlth" placeholder="Enter your email address" />
        <label class="status"></label>
        <input class="visually-hidden" type="submit" value="Submit" />
      </fieldset>
    </form> <!-- #email-form -->
  </div>
</div> <!-- #email-form-container -->
