        <nav class="site-nav" aria-role="navigation">
          <ul class="primary">
            <li class="nav-work"><a href="/work" data-color="gray">Work</a></li>
            <li class="nav-contact"><a href="#contact" data-color="gray">Contact</a></li>
            <li class="nav-about"><a href="/about" data-color="purple">About</a></li>
            <li class="nav-expertise"><a href="/expertise" data-color="peach">Expertise</a></li>
            <li class="nav-people"><a href="/people" data-color="yellow">People</a></li>
            <li class="nav-endeavors"><a href="/endeavors" data-color="blue">Endeavors</a></li>
            <li class="nav-news"><a href="/news" data-color="gray">News</a></li>
            <li class="nav-store"><a href="/store" data-color="green">Store</a></li>
          </ul>
        </nav>
