/*

    _/_/_/_/  _/_/_/
   _/        _/    _/
  _/_/_/    _/_/_/
 _/        _/    _/
_/        _/_/_/

*/

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  padding-top: 66px; // making room for the fixed header
  background: $white;
  box-sizing: border-box;
  font:16px/18px $font-body, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: $font-display;
}

a {
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

img {
  height: auto;
  max-width: 100%;
}

::selection {
  background: $black-fade;
}

// Utility classes

.edit-bug {
  display: none;
  &.active {
    display: block;
  }
}

// Clearfix
.clearfix {
  @include clearfix();
}

// Hide visually, but keep accessible by screen readers
// http://a11yproject.com/posts/how-to-hide-content/
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
} 
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; }
// Hide visually and for screen readers
// http://a11yproject.com/posts/how-to-hide-content/
.hidden { 
  display: none;
  visibility: hidden;
}

// Supers
sup {
  font-size: .35em;
}

// Base layout