// Sidebar

#project-side,
#side {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 300px;
  right: -300px;
  overflow: auto;
  background: $black;
  padding-bottom: ($padding * 2);
  transition: right .4s cubic-bezier(0.77, 0, 0.175, 1), background 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-overflow-scrolling: touch;
  &.open {
    right: 0;
    .menu-toggle {
      right: 25px;
      opacity: 1;
      transition-delay: .2s;
    }
  }
  .menu-toggle {
    right: -20px;
    z-index: 1;
    opacity: 0;
    position: absolute;
    transition: opacity .2s ease-out;
  }
  .tcon-menu__lines {
    &:before, &:after {
      background: $white;
    }
  }
}

#side {
  // Color changes
  @each $page-color, $bgcolor in $page-colors {
    &.color-#{$page-color} {
      background: $bgcolor;
    }
  }
}

#project-side {
  width: 300px;
  right: -300px;
  padding-top: 66px;
  overflow: hidden;
  header.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background: $black;
    padding: 21px 25px;
    h2 {
      color: $white;
      font: 24px/1 $font-display;
    }
  }
  .projects {
    background: $black;
    height: 95vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .view-project {
    font-size: 24px;
  }
  @include min-screen($breakpoint-medium) {
    width: 40%;
    right: -40%;
  }
}

// Main Nav
.site-nav {
  padding: 17px 25px 0;
  a {
    color: $white;
    font-size: 24px;
    display: inline-block;
    font-family: $font-display;
    &:hover {
      color: $black;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      &.selected {
        a {
          text-decoration: underline;
        }
      }
      a {
        padding: 6px 0;
      }
    }
  }
}

// Active pages
body#work-page .nav-work,
body#contact-page .nav-contact,
body#about-page .nav-about,
body#expertise-page .nav-expertise,
body#people-page .nav-people,
body#endeavors-page .nav-endeavors,
body#news-page .nav-news,
body#store-page .nav-store {
  a {
    // text-decoration: underline;
    padding-bottom: 2px;
    margin-bottom: 4px;
    border-bottom: 1px solid $white;
  }
}

// Work filtering
#filters {
  padding: 0 25px;
  margin-top: ($padding * 4);
  h1 {
    color: $white;
    font-size: 24px;
    margin-bottom: 33px;
  }
  li {
    margin-top: 11px;
    list-style: none;
    &:first-of-type {
      margin-top: 0;
    }
    a {
      color: $white;
      @include small-caps();
      &:hover, &:active {
        text-decoration: underline;
      }
      &.selected {
        text-decoration: underline;
      }
    }
  }

  .spacer {
    color: $white;
  }
}

// Store cart
.cart {
  color: $white;
  padding: 0 25px;
  margin-top: ($padding * 4);
  h3 {
    color: $white;
    font-size: 24px;
    margin-bottom: 33px;
  }
  ul {
    @include small-caps();
  }
  .line-item {
    position: relative;
    padding-right: 20px;
    margin-bottom: ($padding * 1.5);
    padding-bottom: ($padding * 1.5);
    border-bottom: 1px solid $white;
    .delete-link {
      top: 0;
      right: 0;
      position: absolute;
      &:before, &:after {
        top: 4px;
        right: 0;
        content: '';
        height: 1px;
        width: 10px;
        background: $white;
        position: absolute;
        pointer-events: none;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
      a {
        width: 12px;
        height: 12px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        display: inline-block;
      }
    }

    .price, .quantity {
      display: inline-block;
    }
    .quantity {
      white-space: nowrap;
      span,
      input {
        color: $white;
        border-bottom: none;
        display: inline-block;
      }
      input {
        &:focus, &:active {
          border-bottom: 1px solid $white;
        }
      }
    }
  }

  .submit {
    margin-top: ($padding * 1.5);
  }
}