// User Content
.user-content {
  .h1,
  h1 {
    color: $black;
    font: 48px/1.145833333em $font-display;
  }
  h2 {
    color: $black-fade;
    @include small-caps();
  }

  p {
    font-size: 1em;
    line-height: 1.375em;
  }

  a {
    text-decoration: underline;
    transition: color .2s ease-out;
    &:hover, &:focus {
      color: $black-fade;
    }
  }

  blockquote {
    margin: ($padding * 3) auto;
    max-width: 800px;
    text-align: center;
    p {
      font-size: 24px;
      color: $black-fade;
      line-height: 1.375em;
      letter-spacing: .035em;
      font-family: $font-display;
    }
    a {
      &:hover, &:focus {
        color: $black;
      }
    }

    @include min-screen($breakpoint-medium) {
      font-size: 32px;
    }
  }
}