<h1 id="logo">
  <%= link_to Refinery::Core.site_name, refinery.root_path %>
</h1>

<button type="button" class="menu-toggle tcon tcon-no-animate tcon-menu--xcross" aria-label="toggle menu">
  <span class="tcon-menu__lines" aria-hidden="true"></span>
  <span class="tcon-visuallyhidden">toggle menu</span>
</button>

<button type="button" class="project-nav-toggle tcon tcon-no-animate tcon-menu--xcross" aria-label="toggle project nav">
  <span class="tcon-menu__lines" aria-hidden="true"></span>
  <span class="tcon-visuallyhidden">toggle project nav</span>
</button>
