<h1 id="logo">
  <%= link_to "Firebelly", '/work' %>
</h1>

<button type="button" class="menu-toggle tcon tcon-no-animate" aria-label="toggle menu">
  <span class="tcon-menu__lines" aria-hidden="true"></span>
  <span class="tcon-visuallyhidden">toggle menu</span>
</button>

<button type="button" class="project-side-toggle tcon tcon-no-animate" aria-label="toggle project sidebar">
  <span class="tcon-menu__grid" aria-hidden="true"></span>
  <span class="tcon-visuallyhidden">toggle project nav</span>
</button>
