/* Make Refinery a little less butt ugly */

header {
	width: 117px;
}
#admin_container {
	width: 1120px;
	margin: 0 auto;
}

#page_container {
	width: 1003px;
	padding: 1.5em;
}

#menu a#menu_reorder, 
#menu a#menu_reorder_done {
	line-height: 1;
	padding: 10px;
}

#page-tabs.ui-tabs {
	margin-top: 20px;
}

.spaced {
	margin-top: 20px;
}

#actions {
	padding-top: .5em;
}
#actions li {
	padding: 0;
}
#actions li form {
	margin: 6px 10px;
}
#actions li a {
	display: block;
	padding: 6px 10px;
}
#actions li a:hover {
	background: #DFEBFE;
}
#actions li a:before {
	width: 1.25em;
}
#content .pagination a {
	border: none;
}

.wym_skin_refinery li.wym_containers_blockquote a {
  background-image: url('/assets/text_blockquote.png');
}

.wym_skin_refinery .wym_iframe iframe { height: 600px; }

.dialog #existing_image_size_area {
	margin-bottom: 100px;
}

.dialog #dialog_main {
	width: 930px;
}

p.help {
	margin-top: -4px;
	font-size: 12px;
	color: #bcbcbc;
}

.wider {
	width: 50%;
}
p.note {
	margin: 2px 0 0;
	font-size: 12px;
	color: #999;
}